* {
	font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

header {
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    background-color: #0b3942;
}

header > h1 {
    color: white;
    font-size: 1.5rem;
}

#title1 {
    display: block;
}

#title2 {
    display: none;
}

main {
    margin: 4rem 0 1rem 0;
    padding: 1rem 4%;
}

main > h2 {
    font-size: 1.2rem;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
}

main > hr {
    border: 1px solid #125E6E;
    margin: 1rem 0;
}

form {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form > div > label {
    color: #0b3942;
}

form > div > input, form > div > select {
    width: 100%;
    margin: 0.2rem 0 0.5rem 0;
    padding: 0.8rem 0;
    border: 1px solid #0b3942;
    border-radius: 0.3rem;
    font-size: 1rem;
    text-indent: 1rem;  
    color: #0b3942;
}

form > div > input:focus, form > div > select:focus {
    outline: none;
}

form > div > input::placeholder {
    color: #0b3942;
}

form > div:last-child {
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
}

form > div > button {
    width: 49%;
    padding: 0.8rem 0;
    border: none;
    border-radius: 0.3rem;
    background-color: #0b3942;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

form > div > button:first-child {
    border: 1px solid #0b3942;  
    background-color: #ffffff;
    color: #0b3942;
}

@media (max-width: 800px) {
    
    header {
        height: 3rem;
        padding: 0 1rem;
    }

    button > img {
        width: 2rem;
    }

    #title1 {
        display: none;
    }
    
    #title2 {
        display: block;
    }

    main {
        margin-top: 3rem;
    }
    
}