* {
	font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    background-color: #ffffff;
}

header {
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    background-color: #0b3942;
}

.back-icon {
    position: fixed;
    top: .8rem;
    left: 2rem;
    background-color: #0b3942;
    border: none;
    border-radius: 25%;
    padding: 0;
    width: 2.6rem;
    height: 2.6rem;
}

.back-icon > img {
    width: 2.6rem;
}

.back-icon:hover {
    background-color: #125E6E;
}

header > h1 {
    color: white;
    font-size: 1.5rem;
}

#title1 {
    display: block;
}

#title2 {
    display: none;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.loading-icon {
    position: fixed;
    background-color: #0b3942;
    top: calc(50% - 4rem);
    left: calc(50% - 4rem);
    width: 8rem;
    height: 8rem;
    border-radius: 25%;
}

.form-section {
    display: none;
}

.form-section.active {
    display: block;
}

.vertical-nav-bar {
    position: fixed;
    top: 4rem;
    width: 20rem;
    height: calc(100% - 4rem);
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #0b3942;
    border-top: 1px solid #125E6E;
}

.vertical-nav-bar > div {
    width: 14rem;
    padding: .5rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
}

.vertical-nav-bar > div:hover {
    background-color: #125E6E;
}

.vertical-nav-bar > div > img {
    width: 2.5rem;
}

.vertical-nav-bar > div > p {
    margin-left: 2rem;
    font-size: 1rem;
    color: #ffffff;
}

main {
    margin-left: 20rem;
}

.register-content{
    width: 100%;
    margin: 4rem auto;
    margin-bottom: 0;
    padding: 1rem 4%;
}

.register-content > section > h2 {
    font-size: 1.2rem;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
}

.register-content > section > hr {
    border: 1px solid #0b3942;
    margin: 1rem 0;
}

form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.field-description {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.speak-record-button {
    background-color: #0b3942;
    border: none;
    border-radius: 5px;
    margin-left: .5rem;
    padding: 0;
    width: 2rem;
    height: 2rem;
}

.speak-record-button > img {
    width: 2rem;
}

.speak-record-button:hover {
    background-color: #125E6E;
}

.separator {
    width: 100%;
    margin: 1rem 0;
}

.climate-radio {
    display: flex;
    justify-content: space-between;
}

input[type="radio"] {
    margin: 0;
}

.day-period {
    display: inline-block;
    width: 55px;
}

.text-field {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.text-field > textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #0b3942;
    outline: none;
    resize: none;
    padding: 0.5rem;
    box-sizing: border-box;
    font-size: 1rem;
}

.add-button {
    display: flex;
    justify-content: flex-end;
}

.add-button > button {
    background-color: #0b3942;
    border: none;
    border-radius: 5px;
    padding: .8rem 2rem;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    font-size: 1rem;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.nav-buttons > button {
    width: 49%;
    height: 3rem;
    background-color: #0b3942;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.nav-buttons > button:hover {
    background-color: #125E6E;
}

.nav-buttons > button > img {
    width: 3rem;
}

.next-tab-button {
    margin-left: 51%;
}

.field-image {
    display: flex;
    justify-content: center;
}

.field-image > label {
    background-color: #0b3942;
    border: none;
    border-radius: 5px;
    padding: .8rem;
    width: 100%;
    max-width: 300px;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
}

.field-image > input[type="file"] {
    display: none;
}

.number-of-images {
    margin-top: 1rem;
}

.horizontal-nav-bar {
    width: 100%;
    height: 3.5rem;
    display: none;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #0b3942;
}

.horizontal-nav-bar > div > img:hover {
    background-color: #125E6E;
    border-radius: 25%;
}

.horizontal-nav-bar img {
    padding: 0.5rem;
    width: 1.6rem;
    box-sizing: content-box;
}

.required {
    color: red;
}

@media (max-width: 1200px) {
    
    main {
        margin-left: 0;
        padding-bottom: 3.5rem;
    }

    .vertical-nav-bar {
        display: none;
    }

    .horizontal-nav-bar {
        display: flex;
    }
}

@media (max-width: 800px) {
    
    header {
        height: 3rem;
        padding: 0 1rem;
    }

    .back-icon {
        top: .5rem;
        left: 1rem;
        width: 2rem;
        height: 2rem;
    }

    .back-icon > img {
        width: 2rem;
    }

    .loading-icon {
        position: fixed;
        background-color: #0b3942;
        top: calc(50% - 3rem);
        left: calc(50% - 3rem);
        width: 6rem;
        height: 6rem;
        border-radius: 25%;
    }

    a > img, button > img {
        width: 2rem;
    }

    #title1 {
        display: none;
    }
    
    #title2 {
        display: block;
    }

    .register-content {
        margin: 3rem auto;
        margin-bottom: 0;
    }
}